# Dependencies
/node_modules
/package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*

# Environment Variables and Secrets
.env
.env.local
.env.*.local

# Build Artifacts
/dist
/build
/coverage

# Operating System Files
.DS_Store
Thumbs.db